.rating {
  display: flex;
  justify-content: space-between;
}
.rating button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.full {
  width: 70px;
  height: 70px;
  background-color: var(--primaryColor);
  transition: var(--animDuration) var(--animEase);
}

.empty {
  width: 70px;
  height: 70px;
  background-color: var(--lightGrey);
  transition: var(--animDuration) var(--animEase);
}

.counter {
  padding-top: 7px;
  display: flex;
  justify-content: flex-end;
}
