.header {
  align-items: stretch;
  background-color: var(--lightGrey);
  border-bottom: var(--baseBorder);
  display: flex;
  gap: 2rem;
  padding: 0 var(--baseHorzSpacing);
}

.header h1 {
  font-weight: var(--fw-bold);
}

.header h1,
.header a {
  align-items: center;
  color: var(--copyColor);
  display: flex;
  margin: 0;
}

.header a {
  border-bottom: 3px solid var(--lightGrey);
  margin-bottom: 1px;
  padding-top: 10px;
  text-decoration: none;
  position: relative;
}

.header a span {
  position: absolute;
  right: -16px;
  top: 20px;
  display: inline-block;
  background: var(--primaryColor);
  border-radius: 100%;
  width: 16px;
  height: 16px;
  text-align: center;
  color: white;
  font-size: 11px;
  line-height: 1.35;
}

.active {
  border-bottom: 3px solid var(--primaryColor) !important;
}

.spacer {
  border-right: var(--baseBorder);
  flex: 1;
}

.logOut {
  display: flex;
  align-items: center;
}

.logOut img {
  margin-right: 17px;
}
